CC(C)(C)OC(=O)NC=Cc1ccccc1
CC(=O)c1cccc(Br)c1
CN(C)N=Cc1ccccc1
CN(C)N=Cc1ccccc1F
c1ccc(Cn2ccc3ccccc32)cc1
Cc1cc[nH]n1
COc1cccc(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1cccc(Cl)c1
CCOC(=O)c1ccccc1-c1ccc(-c2ccccc2)cc1
O=Cc1cccc(Cl)c1
O=C(NCc1ccccc1C(F)(F)F)C(F)(F)F
CC(C)(C)C(=O)Nc1ccccc1Br
Cc1cccc2cc[nH]c12
Fc1cccc(C(F)(F)F)c1
CC(C)(C)C(=O)NCc1ccccc1C(F)(F)F
c1scc2c1OCCO2
CCOC(=O)Cc1ccccn1
CC(C)c1ccccc1
COc1ccc2ccc(C)nc2c1
Oc1ccc(F)cc1
CCOC(=O)c1cc(F)ccc1C
Clc1ccc2c(c1)OCO2
Cc1cccc(Br)c1
CC(CCc1ccccc1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
O=C(NCCCc1ccccc1C(F)(F)F)C(F)(F)F
Cc1cc2cc(Cl)ccc2[nH]1
CC(C)(CC(F)(F)F)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
N#Cc1ccc(O)cc1
CC(=O)c1ccccc1Cl
CC(C)(C)OC(=O)n1ccc2cccnc21
CC(C)(C)C(=O)n1ccc2c(Br)cccc21
Cc1ccc(S(=O)(=O)NCc2ccccc2C(F)(F)F)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3ccc(C=Cc4ccccc4)cc32)cc1
CC(C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1CCOCC1
CC(C)N(C(=O)c1cccc(F)c1)C(C)C
O=C(NCCCc1ccccc1Br)C(F)(F)F
CC(C)(C)c1ccccc1
CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCCCC1
COc1ccc(-c2nc3ccccc3o2)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cc(Br)ccc32)cc1
Fc1cccc2[nH]ccc12
CCC(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
CCOC(=O)c1cc(F)ccc1F
CSc1cccc(C(C)C)c1
CN1Cc2ccccc2C1=O
O=Cc1cccc(Br)c1
CC(C)(C)C(=O)Nc1ccc(F)cc1
CC(C)N(C(=O)c1cccs1)C(C)C
c1ccc2c(-c3nccc4ccccc34)cccc2c1
CC(C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)N1C(=O)c2ccccc2C1=O
Cc1cccc(C(=O)N(C(C)C)C(C)C)c1C
CSc1cccc([Si](C)(C)C)c1
CCOC(=O)c1cc(O)cc(O)c1
CC(C)(C)CC(=O)Nc1cccc(Cl)c1
CCN(CC)C(=O)c1cc2ccccc2[nH]1
O=C(NCc1ccccc1Cl)C(F)(F)F
Cc1ccc(C#N)n1C
N#Cc1ccc(Br)cn1
CC(C)(C)OC(=O)Nc1ccc(Cl)cc1
Oc1ccc(C(F)(F)F)cc1
Clc1ccc2c(c1)Nc1ccccc1S2
CC(=O)N(C)c1ccccc1
O=C(NCCc1ccccc1Br)C(F)(F)F
CC1(C)COC2(CCCC2)OC1
CC(C)(C)C(=O)N1CCCCC1
Cc1ccnc(C)c1
FC(F)(F)Oc1cccc(Br)c1
Cc1cccc2[nH]ccc12
CCOC(=O)c1ccc(O)cc1
