O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccccc1
COc1ccc2ccn(C(=O)C(C)(C)C)c2c1
Cc1ccc(O)cc1C
Cc1ccc(F)cc1
CC(=O)NCc1ccccc1C(F)(F)F
N#Cc1cccc(Br)c1
Cc1ccc(C)c(OCCCC(C)(C)C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
Cc1nc2ccccc2[nH]1
CCCCCCN(CCCCCC)C(=O)c1ccccc1Br
CSc1cccc(N2CCOCC2)c1
Cc1ccc(-c2ccccc2CCCNC(=O)C(F)(F)F)cc1
O=Cc1ccc(F)cc1
CSc1cccc(N(C)C)c1
CC(C)[Si](C(C)C)(C(C)C)n1c2c(c3ccccc31)CCC2
COc1ccccc1C(=O)N(C(C)C)C(C)C
CCOC(=O)c1ccc[nH]1
CCCCCCCCC1OCC(C)(C)CO1
O=C(NCCc1ccccn1)C(F)(F)F
CCOC(=O)c1c(Cl)cccc1Cl
COc1cccc2cc[nH]c12
O=P(c1ccccc1)(C1CCCCC1)C1CCCCC1
CC(C)N(C(=O)c1cccc(C#N)c1)C(C)C
C1CCOC1
CCOC(=O)c1cccc(F)c1
CSc1ccc(-c2ccccc2)cc1
Cc1ccccc1C=O
COC(=O)c1ccccc1CNC(=O)C(F)(F)F
COc1ccc2oc(C)nc2c1
CC(C)(C)C(=O)c1c[nH]c2ccccc12
COc1cccc(F)c1
CC(C)(C)C(=O)Nc1ccc(C#Cc2ccccc2)cc1
COC(=O)c1ccccc1CCCNC(=O)C(F)(F)F
CCC(C)(Cc1ccc(F)cc1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
O=C1c2ccccc2C(=O)N1CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
CC(C)N(C(=O)c1cccc2cc[nH]c12)C(C)C
c1ccc(COc2ccc3[nH]ccc3c2)cc1
CSc1cccc(C2OCCO2)c1
CC(=O)NCc1ccccc1C(F)(F)F
c1ccc2c(-c3ccc4ccc5cccc6ccc3c4c56)nccc2c1
CC(C)c1cccc(Br)c1
CCN(CCc1ccccc1Br)C(=O)C(F)(F)F
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccc(Cl)cc1
CC(C)N(C(=O)c1ccccn1)C(C)C
Cc1cc(NC(=O)OC(C)(C)C)ccc1F
CSc1cccc(C#N)c1
CC(C)C1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(CCc2ccc(F)cc2)CCC1
CC(C)(C)C(=O)Nc1ccccc1F
c1ccc(Cn2cccc2)cc1
Oc1ccc(Cl)cc1
O=C(NCc1ccccc1)c1ccc(Br)cc1
O=C(NCc1ccccn1)C(F)(F)F
CCCCCCN(CCCCCC)C(=O)c1cccc(C#N)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1cccc(F)c1
COc1cccc(C23CCC(C(=O)Nc4c(F)c(F)c(C(F)(F)F)c(F)c4F)(CC2)CO3)c1
CC(C)(C)C(=O)Nc1ccc(O[Si](C)(C)C(C)(C)C)cc1
O=C(NCCc1ccccc1Cl)C(F)(F)F
CCOC(=O)c1c(C)[nH]c2ccccc12
c1ccc(-c2c[nH]c3ccccc23)cc1
CC(C)(C)[Si](C)(C)OCC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
CCC(CC)(O[Si](C)(C)C)c1ccccc1
O=Cc1ccc(C(F)(F)F)cc1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccccc1F
Cc1nc2c(C)cccc2[nH]1
CSc1ccccc1
COc1ccc2[nH]ccc2c1
CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CC1
CSc1cccc(N2CCCC2)c1
CCOC(=O)c1cc2ccccc2[nH]1
CN(C)N=Cc1ccc(F)cc1
CC(C)N(C(=O)c1cccc2ccccc12)C(C)C
CCOC(=O)c1ccccc1-c1ccccc1
CC(C)N(C(=O)c1ccccc1)C(C)C
COc1cccc(C=O)c1OC
COc1ccc(SC)cc1
COc1cccc(OC)n1
CC(C)(C)C(=O)n1ccc2cc(O[Si](C)(C)C(C)(C)C)ccc21
CC(C)c1ccc2c(c1)CCC1C(C)(C(=O)Nc3c(F)c(F)c(C(F)(F)F)c(F)c3F)CCCC21C
FC(F)(F)c1cccc(C(F)(F)F)c1
O=C(c1ccccc1)N1CCCCCC1
COc1ccc(C(C)(c2ccccc2)c2ccc(OC)cc2)cc1
COc1cccc(C=O)c1
CSc1cccc(C)c1
Cc1ccc(C(=O)NCc2ccccc2)cc1
CC[Si](CC)(CC)c1ccccc1
CC(C)(C)c1ccc(Cl)cc1
COc1cccc(C(=O)NCc2ccccc2)c1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cc(F)ccc32)cc1
CCCCCCN(CCCCCC)C(=O)c1cccs1
N#Cc1ncccn1
CN(C)c1ccccc1F
Cc1cccc(F)c1
FC(F)(F)c1cc[nH]n1
CC(C)(C)[Si](C)(C)n1ccc2cccnc21
CCCCCCN(CCCCCC)C(=O)c1ccccc1C(F)(F)F
CSc1cccc(C(C)C)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(Cc2ccccc2)CCC1
CCCCCC(=O)N(Cc1ccccc1)Cc1ccccc1
CN(C)Cc1ccccc1F
CC(C)(C)OC(=O)Nc1ccc(C(F)(F)F)cc1
CCCCC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
O=Cc1ccccc1Cl
CC(C)(C)OC(=O)NCc1ccccc1C(F)(F)F
CCCCCC(=O)Nc1ccccc1
Cc1ccc2ccc(C)nc2c1
COC(=O)C(C)c1cccc(F)c1
CCOC(=O)c1cccc(F)c1F
CC(C)N(C(=O)c1cc(Br)ccc1Cl)C(C)C
CC(C)(C)OC(=O)n1ccc2ccccc21
CC(C)(C)C(=O)Nc1ccc(C(F)(F)F)cc1
O=Cc1cccc(Br)c1
Cc1cccc(C)c1
CC(C)(C)C(=O)n1ccc2c(C=Cc3ccccc3)cccc21
CN(C)c1cccc(Br)c1
CCc1ccc(C=O)cc1
COc1ccccc1OC
CNC(=O)c1ccc(Br)cc1
COc1ccccc1CCNC(=O)C(F)(F)F
CCN(CC)C(=O)c1ccccc1
Cc1ccc2ccn(C(=O)C(C)(C)C)c2c1
COc1cc(C)ccc1O
CCOC(=O)c1ccccn1
O=C(NCc1ccccc1)c1ccc(C(F)(F)F)cc1
CN(C(=O)C(F)(F)F)c1ccccc1
Cc1ccccc1C=O
CCCCCCN(CCCCCC)C(=O)c1cccc(F)c1
CC(C)(C)OC(=O)Nc1cccc(Cl)c1
COc1cccc(C=O)c1OC
CC(C)(C)C(=O)n1ccc2c(Br)cccc21
CN1CCCc2ccccc21
CCOC(=O)c1ccccc1N(C)C
CN(C(=O)c1ccccc1)C(C)(C)C
CN(C)S(=O)(=O)c1cccc(F)c1
COc1ccc(SC)cc1
CSc1ccc(C)cc1
COc1ccc2nc(C)ccc2c1
Clc1cc(Cl)cc(Cl)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(CC2CCCC2)CCC1
CC1(c2ccccc2)OCCO1
CCCCCC(=O)OCc1ccccc1
COc1ccc(C=O)cc1
Cc1ccccc1C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
O=Cc1ccc(Cl)cc1
CC(C)(C)C(=O)n1ccc2c(-c3ccccc3)cccc21
O=C(NCc1ccccc1)c1cccc(Br)c1
CCOC(=O)c1c(Br)cccc1Br
CC(C)(C)C(=O)N1CCCc2ccccc21
Oc1ccccc1
Brc1ccc2[nH]ccc2c1
CN(C(=O)C(C)(C)C)c1ccccc1
N#Cc1ccc(C(F)(F)F)cc1
CCCCCCN(CCCCCC)C(=O)c1ccc[nH]1
Brc1ccccc1Br
CC(C)(CCc1cccc(Cl)c1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
Oc1cccc(Cl)c1
CN(C)c1ccccn1
Cc1ccccc1CCNC(=O)C(F)(F)F
CCOC(=O)c1c(C)cccc1C
CNC(=O)c1ccc(Cl)cc1
O=C(NCc1ccccc1)c1cccc(Cl)c1
COc1ccccc1C=O
Cc1ccc2ccc(Br)cc2n1
COc1cccc(C(=O)N(C(C)C)C(C)C)c1OC
CC(CC(F)(F)F)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
Cc1ccc2nc(C)ccc2c1
COc1cccc(C(=O)N(C(C)C)C(C)C)c1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cc(Cl)ccc32)cc1
Fc1ccc(-c2ccccc2)cc1
CC(C)N(C(=O)c1ccccc1-c1ccccc1)C(C)C
CCOC(=O)c1cccnc1C(=O)OCC
CC(C)N(C(=O)c1cccnc1Cl)C(C)C
CCOP(=O)(OCC)c1ccccc1
CCN(CC)CCOC(=O)C1(c2ccccc2)CCCC1
O=C(c1ccccc1)N(C1CCCCC1)C1CCCCC1
CSc1cccc(C(=O)N(C)C)c1
CC(C)(C)C(=O)NC1CC1
O=C(NCc1cccc(F)c1)C(F)(F)F
Cc1ccccc1C#N
CSc1cccc(Br)c1
O=C1CCCc2ccccc21
CCOC(=O)c1cccn1C
Fc1ccccc1C(F)(F)F
CCOC(=O)c1cc2cc(OC)ccc2[nH]1
Clc1cccc(Cl)n1
CSc1cccc(N(C)C)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccc([N+](=O)[O-])cc1
CCC(C)(Cc1ccccc1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
CCc1ccccc1
COc1ccccn1
c1ccc2c(c1)[nH]c1ccccc12
C1CCOCC1
CCCCCC1CCCCC1
CCCCCCN(CCCCCC)C(=O)c1cccc(-c2ccccc2)c1
O=C(NC1CCCCC1c1ccccc1)C(F)(F)F
c1ccc(-c2nccc3ccccc23)cc1
Fc1ccc(C(F)(F)F)cc1Br
CN(c1ccccc1)c1ccccc1
CSc1ccc(Cl)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3ccccc32)cc1
O=C(c1ccccc1)N1CCOCC1
CC(C)(C)C(=O)NCc1ccccc1C(F)(F)F
c1cc2c3c(c1)CCCN3CCC2
O=Cc1ccc(Cl)cc1
O=Cc1ccc(OCc2ccccc2)cc1
COc1ccc(NC(=O)OC(C)(C)C)cc1Cl
CCCCCC(=O)NCc1ccccc1
CCCCCCN(CCCCCC)C(=O)c1cccc(Br)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccccc1Cl
CC(C)N(C(=O)c1ccco1)C(C)C
O=C(NCc1ccccc1)c1cccc(OCc2ccccc2)c1
Cc1nc2cc(F)ccc2[nH]1
O=C(NCCc1ccccc1C(F)(F)F)C(F)(F)F
CN(C)N=Cc1cccc2ccccc12
CCOC(=O)c1ccccc1OCc1ccccc1
COC(=O)c1cccc(SC)c1
Fc1ccccc1-c1ccc2ccccc2c1
CC(C)(C)C(=O)Nc1cccs1
CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCCCCC1
Fc1cccc(-c2ccc3ccccc3c2)c1
O=C(c1ccccc1Br)N1CCOCC1
CN(C)c1cccnc1-c1cccc2ccccc12
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1CCC1
Cc1cccc(C)n1
CC(C)N(C(=O)c1ccc(F)cc1)C(C)C
CC(=O)Oc1cccc(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
CC(=O)Nc1ccccc1Cl
CSc1cccc(C)c1
Cc1ccccc1-c1cccc(F)c1
Cc1ccc2ccc(C#N)cc2n1
O=C1c2ccccc2C(=O)N1C1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
Cc1ccc2[nH]ccc2c1
CC(C)(C)[Si](C)(C)OCCc1c[nH]c2ccccc12
CCOC(=O)c1cccs1
CCCCCCCCCCCC
COc1ccccc1O
CCCCC1(O)CCCCC1
CCOC(=O)c1ccccc1Cc1ccccc1
CCN(CCCc1ccccc1Br)C(=O)C(F)(F)F
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(CCc2ccc(Cl)cc2)CCC1
CNC(=O)c1ccc(-c2ccccc2)cc1
Cn1ccc2cccnc21
COC(=O)c1cccc(C(=O)OC)c1
Cc1nc2ccccc2o1
CCOC(=O)Cc1ccc(NC(=O)C(C)(C)C)cc1
Cc1ccccc1F
CC(C)[Si](C(C)C)(C(C)C)n1ccc2ccccc21
CSc1cccc([Si](C)(C)C)c1
CNC(=O)c1ccccc1
CCCCN(CCCC)C(=O)OC(C)(C)C
N#Cc1ccc(C=O)cc1
COC(=O)c1ccc(C(=O)NCc2ccccc2)cc1
CCOC(=O)c1ccco1
Cc1ccc(-c2nccc3ccccc23)c2ccccc12
CC(C)[Si](C(C)C)(C(C)C)n1cc(CCO[Si](C)(C)C(C)(C)C)c2ccccc21
CC(C)(C)C(=O)Nc1cccc(-c2ccccc2)c1
Cc1nc2c(C)cccc2o1
CC(C)(C)C(=O)n1ccc2ccccc21
CC(C)(C)c1ccc(C(=O)NCc2ccccc2)cc1
CN(C(=O)OC(C)(C)C)c1cccc(Cl)c1
CCCCC1(C)OCC(C)(C)CO1
COc1ccc(C=NN(C)C)cc1
COc1ccc2[nH]c(C)cc2c1
CCc1cccc(SC)c1
Fc1ccccc1-c1ccccc1
Cn1cccc1
Cc1cccc(CC2(C(=O)Nc3c(F)c(F)c(C(F)(F)F)c(F)c3F)CCC2)c1
COc1cccc(C=O)c1
CCCCCCN(CCCCCC)C(=O)c1ccccc1OC(F)(F)F
FC(F)(F)c1cccc(Br)c1
CC(C)N(C(=O)c1cccc(Cl)n1)C(C)C
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccc(F)cc1
Cc1ccc(-c2ccccc2CCCNC(=O)C(F)(F)F)cc1
CC(Cc1ccc2c(c1)OCO2)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
CCN(CC)C(=O)c1ccccc1C(=O)OC
CC(C)CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
O=Cc1ccc(O)cc1
COc1ccc2nc(C#N)ccc2c1
CC(C)[Si](C(C)C)(C(C)C)n1ccc2ccc(F)cc21
c1cnc2[nH]ccc2c1
Cc1cccc(C(=O)NCc2ccccc2)c1
O=Cc1ccccc1
Cn1ccc2ccccc21
COc1ccccc1CCNC(=O)C(F)(F)F
CSc1cccc(N2CCCC2)c1
CC(C)(C)OC(=O)N1CC2CCCC2C1
CC1CCC(C(C)C)C(O)C1
Cc1cc2ccccc2[nH]1
COc1ccccc1CCCNC(=O)C(F)(F)F
Cc1ccc(C(C)(C)C)cc1
CSc1cccc(Cl)c1
CCOC(=O)c1ccc(F)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3ccc(-c4ccc5sc6ccccc6c5c4)cc32)cc1
COc1cccc(Br)c1
CCOC(=O)c1ccccc1C(F)(F)F
CC(C)(C)OC(=O)Nc1ccc(Cl)c(F)c1
CC(C)(C)C(=O)Nc1cccc(C(F)(F)F)c1
COC(=O)c1ccccc1C
COC(=O)C(Cc1cn([Si](C(C)C)(C(C)C)C(C)C)c2ccccc12)NC(=O)OC(C)(C)C
COC(=O)c1cccc(SC)c1
O=C(NCCCc1ccccn1)C(F)(F)F
Cc1ccc2c(ccn2[Si](C(C)C)(C(C)C)C(C)C)c1
CCOC(=O)c1cc(F)cc(F)c1
CC(C)(C)OC(=O)N(C(=O)OC(C)(C)C)c1cccc(Cl)c1
COc1ccccc1P(=O)(C1CCCCC1)C1CCCCC1
COc1ccccc1C
Cc1c[nH]c2ccccc12
c1ccc2[nH]ccc2c1
CSc1cccc(C#N)c1
CC(C)(Cc1ccccc1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
Cc1ccccc1C(F)(F)F
CCOC(=O)c1cc(F)ccc1Br
c1ccc2occc2c1
CC(C)(C)C(=O)n1ccc2ccc(F)cc21
Cc1cn(C)c2ccccc12
CC(C)N(C(=O)c1cccc(C(=O)N(C(C)C)C(C)C)n1)C(C)C
Cc1cc(O)ccc1Cl
CCOC(=O)c1ccccc1C(=O)OCC
CN(C(=O)OC(C)(C)C)c1ccccc1
Clc1ccccc1Cl
CN(C)c1cccc(Cl)c1
CCCCCC(=O)Nc1cccc2ccccc12
CSc1cccc(C2OCCO2)c1
CSc1cccc(Cl)c1
Cc1ccc(C#N)o1
O=C(NCCc1ccccc1Br)C(F)(F)F
Cc1cccc(C(=O)N(C(C)C)C(C)C)n1
CCCCCCN(CCCCCC)C(=O)c1cccn1C
CC(Cc1c(F)cccc1F)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
C[Si](C)(C)OC1(c2ccccc2)CCCCC1
COc1cc(C)ccn1
O=C(NCCCc1cccc(F)c1)C(F)(F)F
CC(C)(C)C(=O)n1ccc2ccc(Br)cc21
Cc1cc(F)ccc1Br
CCCCCC(=O)OC(C)(C)C
Cc1cn([Si](C(C)C)(C(C)C)C(C)C)c2ccccc12
CC(C)(C)OC(=O)N1CCCC1
CNC(=O)c1ccc(C(C)(C)C)cc1
CCCCCCN(CCCCCC)C(=O)c1ccccc1OC
N#Cc1ccc(I)cc1
CCN(Cc1ccccc1C(F)(F)F)C(=O)C(F)(F)F
Fc1ccc2cc[nH]c2c1
CN(C)N=Cc1ccc(Cl)cc1
Cc1ccc2c(ccn2C(=O)C(C)(C)C)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1CCCC1
O=C(NCc1ccccc1CO)C(F)(F)F
N#Cc1cccc(C=O)c1
CS(=O)(=O)NCCc1ccccc1C(F)(F)F
CCOC(=O)c1ccccc1F
COc1ccc2c(ccn2C)c1
Oc1ccc(Br)cc1Cl
CN(C)C(=O)c1ccccn1
CN(C)c1ccc(C#N)cc1
COc1ccccc1C(C)=O
O=C(NCc1ccccc1)c1ccc(Cl)cc1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(CC2CCOCC2)CCC1
CCCCCCN1CCCCC1
N#Cc1cccc2[nH]ccc12
COc1cccc2c(C(=O)C(C)(C)C)cn(S(=O)(=O)c3ccc(C)cc3)c12
CCOC(=O)c1cc(OC)ccc1OC
COc1ccccc1CNC(=O)C(F)(F)F
CC(C)(C)[Si](C)(C)OCc1ccccc1CCNC(=O)C(F)(F)F
CCCCOCC
CCOC(=O)c1c(F)cccc1F
O=C1c2ccccc2C(=O)N1C1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CC1
CCOC(=O)c1ccccc1OC
Cc1ccc(-c2nc3ccccc3o2)cc1
Cc1ccc(S(=O)(=O)NCc2ccccc2C(F)(F)F)cc1
O=C(NCCc1cccc(F)c1)C(F)(F)F
Cc1ccccc1NC(=O)C(C)(C)C
COc1ccc(C=O)cc1OC
CCOC(=O)c1cc2cc(Cl)ccc2[nH]1
Cc1ccc2ccc(Cl)cc2n1
COc1ccccc1CCCNC(=O)C(F)(F)F
COc1cccc(SC)c1
CC1(C)COC2(CCC2)OC1
Cc1cccc(C=O)c1
CC(C)(C)OC(=O)Nc1ccc(Br)cc1
O=C(NCCCc1ccccc1Cl)C(F)(F)F
COc1cccnc1-c1cccc2ccccc12
CCSc1ccccc1
Fc1cc(F)cc(Br)c1
Cc1ccc2ccc(C(F)(F)F)cc2n1
c1ccc(-c2cc3ccccc3[nH]2)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cccc(Br)c32)cc1
COC(=O)c1ccc(C=O)cc1
CCCCCC(=O)NC(C)(C)C
CCCCCC(=O)OCC
CCOC(=O)c1cccc(O)c1
CC(C)(C)OC(=O)Nc1ccc(O)cc1
COc1ccccc1Cl
CC(C)N(C(=O)c1ccc(C#N)cc1)C(C)C
CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCCC1
C[Si](C)(C)c1ccccc1
CC(C)(C)C(=O)n1ccc2c(F)cccc21
c1ccc2c(c1)Nc1ccccc1S2
Clc1ccc2[nH]ccc2c1
O=C(NCc1ccccc1)c1ccc2ccccc2c1
COC(=O)c1ccccc1CCNC(=O)C(F)(F)F
CC(C)(C)C(=O)Nc1ccccc1Cl
c1ccc2c(-c3ccc4c5c(cccc35)CC4)nccc2c1
CC(=O)c1ccccc1C
CNC(=O)c1ccc(C(F)(F)F)cc1
CC(C)(C)OC(=O)NCCc1ccccc1C(F)(F)F
c1ccc2sccc2c1
COc1cccc(OC)c1
CC(C)(C)C(=O)Nc1ccccc1-c1ccccc1
O=C(NCCCc1cc(F)ccc1F)C(F)(F)F
CCC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCC1
O=C(NC1CCc2ccccc21)C(F)(F)F
CC(=O)Nc1ccc(C#N)cc1
CC(C)(C)OC(=O)N1CCC1
O=C(NCCCc1ccccc1Cl)C(F)(F)F
CCCCCCN(CCCCCC)C(=O)c1ccccc1C(F)(F)F
O=C(NCCc1ccccc1I)C(F)(F)F
COC(=O)c1cn([Si](C(C)C)(C(C)C)C(C)C)c2ccccc12
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccc2ccccc2c1
CC(C)(C)C(=O)Nc1ccccc1
Fc1cccc2cc[nH]c12
CC(C)N(C(=O)c1ccc[nH]1)C(C)C
COC(=O)c1ccc(C#N)cc1
O=C(c1ccccc1)N1CCCCC1
CC(C)(C)C(=O)N1CCc2ccccc21
CC(C)c1ccc(C(C)C)cc1
COc1c(C)cccc1C
COc1cccc2[nH]ccc12
Cc1cccc(N(C)C)c1
CCOC(=O)C(CC)(C(=O)OCC)c1ccccc1
CC(C)(C)NC(=O)Oc1cccc(Cl)c1
Cc1ccccc1C=NN(C)C
COc1ccccc1-c1ccccc1F
c1ccc2c3c([nH]c2c1)CCC3
CCOC(=O)c1cccc2cc[nH]c12
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3ccc(C)cc32)cc1
Cc1ccccc1CNC(=O)C(F)(F)F
Cc1nc2c(Cl)cccc2[nH]1
CNC(=O)c1ccc(C)cc1
Cc1ccccc1Cl
Cc1cccc(C=O)c1
CC(C)(C)OC(=O)C1CC1
Brc1ccc(Br)cc1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1(CCc2ccccc2)CCC1
COc1ccccc1-c1cccc(F)c1
CN1CCc2ccccc21
CC(C)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
CCCCCCN(CCCCCC)C(=O)c1cccc(Cl)c1Cl
Brc1cccs1
CCN(CC)C(=O)c1cccc(F)c1
CN(C)C(=O)c1ccccc1
CC(C)N(C(=O)c1cccnc1)C(C)C
CN(C)c1cccc(N(C)C)c1
Cc1nc2cc(Br)ccc2o1
CSc1cccc(Br)c1
O=C(NCCCc1ccccc1Br)C(F)(F)F
COc1ccc2[nH]ccc2c1
CCN(CC)P(=O)(c1ccccc1)N(CC)CC
Cc1cccc(NC(=O)C(C)(C)C)c1
CCOC(=O)c1ncccc1C
Cc1ccc2cc[nH]c2c1
CCCCCCN(CCCCCC)C(=O)c1ccccc1
CC(C)(C)C(=O)n1ccc2c(F)cccc21
CCCCCCCCCCCCCCCCO
Oc1ccc(Cl)cc1Cl
O=Cc1ccc(-c2ccccc2)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cc(-c4ccccc4)ccc32)cc1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1CCCCC1
COC(=O)c1cc2c(OC)cccc2[nH]1
CC(C)N(C(=O)c1ccc(Br)cc1)C(C)C
CCC(C)(C)c1ccccc1
CC(=O)Nc1ccccc1Br
CN(C(=O)c1ccccc1)C1CCCCC1
Cc1cc(C)[nH]n1
Cc1ccccc1CCCNC(=O)C(F)(F)F
CNC(=O)c1ccc(OC)cc1
CC(C)N(C(=O)c1ccccc1C(F)(F)F)C(C)C
CC(C)(C)C(=O)n1ccc2ccc(O)cc21
O=C(NC1CCCCC1c1ccccc1)C(F)(F)F
O=C(NCc1ccccc1)c1ccc(OC(F)(F)F)cc1
CC(C)(C)C(=O)Nc1ccc(C#N)cc1
CCC(C)(CC)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
Cc1cccc(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
CCOC(=O)c1ccccn1
CC(C)(C)C(=O)Nc1ccc(I)cc1
COc1cccc(O)c1
c1cc2cc[nH]c2cn1
FC(F)(F)c1ccc2c(Cl)ccnc2c1
CC(C)[Si](C(C)C)(C(C)C)n1ccc2cc(Cl)ccc21
CC(C)N(C(=O)c1cccn1C)C(C)C
C[Si](C)(C)c1cc2ccccc2[nH]1
Cc1ncccn1
COc1cccc(OC)c1OC
Cc1ccccn1
CCOC(=O)c1ccc2[nH]ccc2c1
CC(C)(C)C(=O)n1ccc2cc(I)ccc21
CCOC(=O)c1ccccc1C
CCOC(=O)Cc1ccccc1C(=O)OCC
Cn1ccc2cc(F)ccc21
CCOC(=O)c1ccc2c(ccn2C)c1
Fc1ccc2[nH]ccc2c1
O=C(NCCCc1cc(F)ccc1F)C(F)(F)F
CSc1cccc(C(=O)N(C)C)c1
CSc1ccc(-c2ccccc2)cc1
Cc1cccc2c1N(C)CCC2
c1ccc(-c2ccccn2)cc1
O=Cc1cccc(F)c1
c1ccc2c(c1)CCCN2
N#Cc1ccc(Cl)c(Cl)c1
Cc1cccnc1-c1cccc2ccccc12
CCOP(=O)(OCC)c1ccccc1Br
Cc1ccccc1-c1ccccc1F
Cc1cccc(N(C)C)c1
O=C(NCc1ccccc1)c1ccccc1
CCOC(=O)c1cccc(O)c1
Cn1ccc2ccccc21
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1ccccc1C(F)(F)F
Oc1ccc(Br)cc1
CCCCN(CCCC)C(=O)c1ccccc1
COc1ccc(C=O)cc1
CC(C)(C)C(=O)Nc1ccc(Br)cc1
CC(C)[Si](C(C)C)(C(C)C)n1cccc1
COC(=O)c1ccc2c(ccn2C)c1
Cc1ccc2[nH]ccc2c1
COc1cccc2c1ccn2C(=O)C(C)(C)C
N#Cc1ccc(Br)cc1F
COc1cccc(Cl)c1
CCCCCCN(CCCCCC)C(=O)c1cccc(C(F)(F)F)c1F
Cc1ccccc1C
COc1ccc(O)cc1
COc1ccccc1C
CN(C)C(=O)Oc1ccc(NC(=O)OC(C)(C)C)cc1Cl
Cc1ccc2cc(Br)ccc2n1
COC(=O)c1ccccc1OC
Cc1cccc2c1ccn2C(=O)C(C)(C)C
c1cn[nH]c1
c1ccc(N2CCCC2)cc1
COc1ccccc1CNC(=O)C(F)(F)F
C[SiH](C)Cc1ccccc1F
Cc1cccc(Cl)c1
COc1ccc(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)cc1
COc1ccccc1-c1nccc2ccccc12
CC(C)c1cccc(C(C)C)c1
Ic1ccc2[nH]ccc2c1
Fc1cc(F)c(F)c(F)c1F
COc1cccc(SC)c1
CC(C)N(C(=O)c1ccc(Cl)cc1)C(C)C
