CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.C(=NN(Cc1ccccc1)Cc1ccccc1)c1ccccn1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.C(=NN(Cc1ccccc1)Cc1ccccc1)c1ccccn1.C1CCOC1
CC1(C)OBOC1(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=S(=O)(O)OOS(=O)(=O)O.[K].Cc1ccc(S(=O)(=O)O)cc1.[Na].CC(=O)O.[Pd].O=C(C=Cc1ccc(C(F)(F)F)cc1)C=Cc1ccc(C(F)(F)F)cc1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=S(=O)(O)OOS(=O)(=O)O.[K].Cc1ccc(S(=O)(=O)O)cc1.[Na].CC(=O)O.[Pd].O=C(C=Cc1ccc(C(F)(F)F)cc1)C=Cc1ccc(C(F)(F)F)cc1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CN.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(Nc1ccc(C(F)(F)F)cc1)Nc1ccccc1-c1ccc(-c2ccccn2)nc1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.COc1cccc(P(c2cc(C)cc(C)c2)c2cc(C)cc(C)c2)c1-c1c(OC)cccc1P(c1cc(C)cc(C)c1)c1cc(C)cc(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
C1COB(B2OCCO2)O1.CCN(CC)CC.CC(C)(O)C(C)(C)O.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.Cc1ccccc1.ClC(Cl)Cl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.ClC(Cl)C(Cl)Cl.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.COc1cccc(P(c2cc(C)cc(C)c2)c2cc(C)cc(C)c2)c1-c1c(OC)cccc1P(c1cc(C)cc(C)c1)c1cc(C)cc(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccnc(-c2cc(C)ccn2)c1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(Nc1ccccc1-c1ccc(-c2ccccn2)nc1)NC1CCCCC1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)N.Nc1cccc2cccnc12.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CN(C)N=Cc1ccccn1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccnc(-c2cc(C)ccn2)c1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccc2ccc3cccnc3c2n1.BrCBr.C1CCCCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccc2ccc3cccnc3c2n1.BrCBr.C1CCCCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)cc(C)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
