CC(C)(C)OC(=O)NC=Cc1ccccc1
CC(=O)c1cccc(Br)c1
CN(C)N=Cc1ccccc1
CN(C)N=Cc1ccccc1F
c1ccc(Cn2ccc3ccccc32)cc1
Cc1cc[nH]n1
COc1cccc(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
O=C(Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)c1cccc(Cl)c1
CCOC(=O)c1ccccc1-c1ccc(-c2ccccc2)cc1
O=Cc1cccc(Cl)c1
O=C(NCc1ccccc1C(F)(F)F)C(F)(F)F
CC(C)(C)C(=O)Nc1ccccc1Br
Cc1cccc2cc[nH]c12
Fc1cccc(C(F)(F)F)c1
CC(C)(C)C(=O)NCc1ccccc1C(F)(F)F
c1scc2c1OCCO2
CCOC(=O)Cc1ccccn1
CC(C)c1ccccc1
COc1ccc2ccc(C)nc2c1
Oc1ccc(F)cc1
CCOC(=O)c1cc(F)ccc1C
Clc1ccc2c(c1)OCO2
Cc1cccc(Br)c1
CC(CCc1ccccc1)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
O=C(NCCCc1ccccc1C(F)(F)F)C(F)(F)F
Cc1cc2cc(Cl)ccc2[nH]1
CC(C)(CC(F)(F)F)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
N#Cc1ccc(O)cc1
CC(=O)c1ccccc1Cl
CC(C)(C)OC(=O)n1ccc2cccnc21
CC(C)(C)C(=O)n1ccc2c(Br)cccc21
Cc1ccc(S(=O)(=O)NCc2ccccc2C(F)(F)F)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3ccc(C=Cc4ccccc4)cc32)cc1
CC(C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)C1CCOCC1
CC(C)N(C(=O)c1cccc(F)c1)C(C)C
O=C(NCCCc1ccccc1Br)C(F)(F)F
CC(C)(C)c1ccccc1
CC1(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)CCCCC1
COc1ccc(-c2nc3ccccc3o2)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3cc(Br)ccc32)cc1
Fc1cccc2[nH]ccc12
CCC(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
CCOC(=O)c1cc(F)ccc1F
CSc1cccc(C(C)C)c1
CN1Cc2ccccc2C1=O
O=Cc1cccc(Br)c1
CC(C)(C)C(=O)Nc1ccc(F)cc1
CC(C)N(C(=O)c1cccs1)C(C)C
c1ccc2c(-c3nccc4ccccc34)cccc2c1
CC(C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F)N1C(=O)c2ccccc2C1=O
Cc1cccc(C(=O)N(C(C)C)C(C)C)c1C
CSc1cccc([Si](C)(C)C)c1
CCOC(=O)c1cc(O)cc(O)c1
CC(C)(C)CC(=O)Nc1cccc(Cl)c1
CCN(CC)C(=O)c1cc2ccccc2[nH]1
O=C(NCc1ccccc1Cl)C(F)(F)F
Cc1ccc(C#N)n1C
N#Cc1ccc(Br)cn1
CC(C)(C)OC(=O)Nc1ccc(Cl)cc1
Oc1ccc(C(F)(F)F)cc1
Clc1ccc2c(c1)Nc1ccccc1S2
CC(=O)N(C)c1ccccc1
O=C(NCCc1ccccc1Br)C(F)(F)F
CC1(C)COC2(CCCC2)OC1
CC(C)(C)C(=O)N1CCCCC1
Cc1ccnc(C)c1
FC(F)(F)Oc1cccc(Br)c1
Cc1cccc2[nH]ccc12
CCOC(=O)c1ccc(O)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.C(=NN(Cc1ccccc1)Cc1ccccc1)c1ccccn1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.C(=NN(Cc1ccccc1)Cc1ccccc1)c1ccccn1.C1CCOC1
CC1(C)OBOC1(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=S(=O)(O)OOS(=O)(=O)O.[K].Cc1ccc(S(=O)(=O)O)cc1.[Na].CC(=O)O.[Pd].O=C(C=Cc1ccc(C(F)(F)F)cc1)C=Cc1ccc(C(F)(F)F)cc1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=S(=O)(O)OOS(=O)(=O)O.[K].Cc1ccc(S(=O)(=O)O)cc1.[Na].CC(=O)O.[Pd].O=C(C=Cc1ccc(C(F)(F)F)cc1)C=Cc1ccc(C(F)(F)F)cc1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CN.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(Nc1ccc(C(F)(F)F)cc1)Nc1ccccc1-c1ccc(-c2ccccn2)nc1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.COc1cccc(P(c2cc(C)cc(C)c2)c2cc(C)cc(C)c2)c1-c1c(OC)cccc1P(c1cc(C)cc(C)c1)c1cc(C)cc(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
C1COB(B2OCCO2)O1.CCN(CC)CC.CC(C)(O)C(C)(C)O.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.Cc1ccccc1.ClC(Cl)Cl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.ClC(Cl)C(Cl)Cl.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.COc1cccc(P(c2cc(C)cc(C)c2)c2cc(C)cc(C)c2)c1-c1c(OC)cccc1P(c1cc(C)cc(C)c1)c1cc(C)cc(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cnc2c(ccc3c(C)c(C)cnc32)c1C.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.CCN(CC)CC.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccnc(-c2cc(C)ccn2)c1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(Nc1ccccc1-c1ccc(-c2ccccn2)nc1)NC1CCCCC1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)N.Nc1cccc2cccnc12.C1CCOC1
BrB(Br)Br.CC(C)(O)C(C)(C)O.ClCCl.ClCCl
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CN(C)N=Cc1ccccn1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.O=C(O)O.[K].CC(=O)O.CC(=O)O.[Pd].COc1cc(OC)c2ccccc2n1.CC#N
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccnc(-c2cc(C)ccn2)c1.Cc1ccc(C)cc1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COCCOC.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.COC(C)(C)C
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC(C)(C)O.[K].O=c1ccc2cccc(-c3ccc(-c4ccccn4)nc3)c2[nH]1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CCCC[N+](CCCC)(CCCC)CCCC.Cc1ccc(-c2ccc(CS(=O)(=O)[O-])cn2)nc1.COCCOC.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccc2ccc3cccnc3c2n1.BrCBr.C1CCCCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1ccc2ccc3cccnc3c2n1.BrCBr.C1CCCCCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)cc(C)c1.C1CCOC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.c1ccc(N2B(B3Nc4ccccc4N3c3ccccn3)Nc3ccccc32)nc1.COC1CCCC1
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.Cc1cc(C)c(-n2ccn(-c3c(C)cc(C)cc3C)c2=[Ni]=c2n(-c3c(C)cc(C)cc3C)ccn2-c2c(C)cc(C)cc2C)c(C)c1.CCCCCC
CC1(C)OB(B2OC(C)(C)C(C)(C)O2)OC1(C)C.CC1(C)OBOC1(C)C.CC(C)(C)c1ccnc(-c2cc(C(C)(C)C)ccn2)c1.C1CCCCC1
CC(C)(C)OC(=O)NC=C(B1OC(C)(C)C(C)(C)O1)c1ccccc1
CC(=O)c1cc(Br)cc(B2OC(C)(C)C(C)(C)O2)c1
CN(C)N=Cc1ccccc1B1OC(C)(C)C(C)(C)O1
CN(C)N=Cc1c(F)cccc1B1OC(C)(C)C(C)(C)O1
CC1(C)OB(c2cn(Cc3ccccc3)c3ccccc23)OC1(C)C
Cc1n[nH]cc1B1OC(C)(C)C(C)(C)O1
COc1ccc(B2OC(C)(C)C(C)(C)O2)c(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)c1
CC1(C)OB(c2ccc(Cl)cc2C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)OC1(C)C
CCOC(=O)c1ccc(B2OC(C)(C)C(C)(C)O2)cc1-c1ccc(-c2ccccc2)cc1
CC1(C)OB(c2cc(Cl)cc(C=O)c2)OC1(C)C
CC1(C)OB(c2ccc(C(F)(F)F)c(CNC(=O)C(F)(F)F)c2)OC1(C)C
CC(C)(C)C(=O)Nc1c(Br)cccc1B1OC(C)(C)C(C)(C)O1
Cc1cccc2c(B3OC(C)(C)C(C)(C)O3)c[nH]c12
CC1(C)OB(c2ccc(C(F)(F)F)cc2F)OC1(C)C
CC(C)(C)C(=O)NCc1ccc(B2OC(C)(C)C(C)(C)O2)cc1C(F)(F)F
CC1(C)OB(c2scc3c2OCCO3)OC1(C)C
CCOC(=O)Cc1cc(B2OC(C)(C)C(C)(C)O2)ccn1
CC(C)c1ccc(B2OC(C)(C)C(C)(C)O2)cc1
COc1ccc2c(B3OC(C)(C)C(C)(C)O3)cc(C)nc2c1
CC1(C)OB(c2cc(F)ccc2O)OC1(C)C
CCOC(=O)c1cc(F)c(B2OC(C)(C)C(C)(C)O2)cc1C
CC1(C)OB(c2cc(Cl)cc3c2OCO3)OC1(C)C
Cc1cc(Br)cc(B2OC(C)(C)C(C)(C)O2)c1
CC1(C)OB(CC(CCc2ccccc2)C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)OC1(C)C
CC1(C)OB(c2ccc(C(F)(F)F)c(CCCNC(=O)C(F)(F)F)c2)OC1(C)C
Cc1cc2cc(Cl)cc(B3OC(C)(C)C(C)(C)O3)c2[nH]1
CC(CB1OC(C)(C)C(C)(C)O1)(CC(F)(F)F)C(=O)Nc1c(F)c(F)c(C(F)(F)F)c(F)c1F
COc1ccc(C#N)c(B2OC(C)(C)C(C)(C)O2)c1
CC(=O)c1ccc(B2OC(C)(C)C(C)(C)O2)cc1Cl
CC(C)(C)OC(=O)n1cc(B2OC(C)(C)C(C)(C)O2)c2cccnc21
CC1(C)OB(c2ccc(Br)c3cc[nH]c23)OC1(C)C
Cc1ccc(S(=O)(=O)NCc2ccc(B3OC(C)(C)C(C)(C)O3)cc2C(F)(F)F)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3c(B4OC(C)(C)C(C)(C)O4)cc(C=Cc4ccccc4)cc32)cc1
CC1(C)OB(CC(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)C2CCOCC2)OC1(C)C
CC(C)N(C(=O)c1cc(F)cc(B2OC(C)(C)C(C)(C)O2)c1)C(C)C
CC1(C)OB(c2ccc(CCCNC(=O)C(F)(F)F)c(Br)c2)OC1(C)C
CC(C)(C)c1ccc(B2OC(C)(C)C(C)(C)O2)cc1
CC1(C)OB(CC2(C(=O)Nc3c(F)c(F)c(C(F)(F)F)c(F)c3F)CCCCC2)OC1(C)C
COc1ccc(-c2nc3cccc(B4OC(C)(C)C(C)(C)O4)c3o2)cc1
Cc1ccc(S(=O)(=O)n2cc(C(=O)C(C)(C)C)c3c(B4OC(C)(C)C(C)(C)O4)c(Br)ccc32)cc1
CC1(C)OB(c2c[nH]c3cccc(F)c23)OC1(C)C
CC1(C)OB(CCC(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)OC1(C)C
CCOC(=O)c1cc(F)c(B2OC(C)(C)C(C)(C)O2)cc1F
CSc1cc(B2OC(C)(C)C(C)(C)O2)cc(C(C)C)c1
CN1Cc2ccc(B3OC(C)(C)C(C)(C)O3)cc2C1=O
CC1(C)OB(c2ccc(Br)cc2C=O)OC1(C)C
CC(C)(C)C(=O)Nc1ccc(F)cc1B1OC(C)(C)C(C)(C)O1
CC(C)N(C(=O)c1ccc(B2OC(C)(C)C(C)(C)O2)s1)C(C)C
CC1(C)OB(c2ccc3ccccc3c2-c2nccc3ccccc23)OC1(C)C
CC1(C)OB(CC(C(=O)Nc2c(F)c(F)c(C(F)(F)F)c(F)c2F)N2C(=O)c3ccccc3C2=O)OC1(C)C
Cc1cc(B2OC(C)(C)C(C)(C)O2)cc(C(=O)N(C(C)C)C(C)C)c1C
CSc1cc(B2OC(C)(C)C(C)(C)O2)cc([Si](C)(C)C)c1
CCOC(=O)c1cc(O)c(B2OC(C)(C)C(C)(C)O2)c(O)c1
CC(C)(C)CC(=O)Nc1cc(Cl)cc(B2OC(C)(C)C(C)(C)O2)c1
CCN(CC)C(=O)c1cc2cccc(B3OC(C)(C)C(C)(C)O3)c2[nH]1
CC1(C)OB(c2ccc(CNC(=O)C(F)(F)F)c(Cl)c2)OC1(C)C
Cc1cc(B2OC(C)(C)C(C)(C)O2)c(C#N)n1C
CC1(C)OB(c2cc(Br)cnc2C#N)OC1(C)C
CC(C)(C)OC(=O)Nc1ccc(Cl)cc1B1OC(C)(C)C(C)(C)O1
CC1(C)OB(c2cc(C(F)(F)F)ccc2O)OC1(C)C
CC1(C)OB(c2cccc3c2Nc2cc(Cl)ccc2S3)OC1(C)C
CC(=O)N(C)c1cccc(B2OC(C)(C)C(C)(C)O2)c1
CC1(C)OB(c2ccc(Br)c(CCNC(=O)C(F)(F)F)c2)OC1(C)C
CC1(C)COC2(CCC(B3OC(C)(C)C(C)(C)O3)C2)OC1
CC(C)(C)C(=O)N1CCCC(B2OC(C)(C)C(C)(C)O2)C1
Cc1cc(C)nc(B2OC(C)(C)C(C)(C)O2)c1
CC1(C)OB(c2cc(Br)cc(OC(F)(F)F)c2)OC1(C)C
Cc1cccc2[nH]cc(B3OC(C)(C)C(C)(C)O3)c12
CCOC(=O)c1ccc(O)c(B2OC(C)(C)C(C)(C)O2)c1
